:root {
    --main-color: rgb(16, 189, 39);
}
* {
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}
h2 {
    margin: 0;
    color: var(--main-color);
}
p {
    margin: 0;
    color: #777;
    line-height: 1.7;
}
.container {
    width: 80%;
    margin: auto;
}

.side-menu {
    z-index: 10;
    width: 250px;
    height: 100vh;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: -250;
    border-radius: 0 7px 7px 0;
    transition: all .3s;
}
.opened {
    left: 0;
}
.side-menu .side-menu-toggle {
    width: 30px;
    height: 30px;
    background-color: #fff;
    position: absolute;
    top: 75;
    right: -30;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    /* make objects in the center */
    display: flex;
    align-items: center;
    justify-content: center;
}
.side-menu div:nth-child(n+2):nth-child(-n+10) {
    width: 90%;
    padding: 10px 0;
    margin: 10px auto;
    text-align: center;
    background-color: #eee;
    border-radius: 5px;
}
.side-menu h4 {
    margin: 0;
    padding: 0;
    margin-bottom: 7px;
    color: #777;
}
.side-menu .color-list ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.side-menu .color-list ul li {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 7px;
    background-color: #888;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.side-menu .color-list ul li i {
    color: #fff;
}
.side-menu .color-list ul :nth-child(1) {
    background-color: rgb(16, 189, 39);
}
.side-menu .color-list ul :nth-child(2) {
    background-color: rgb(10, 145, 207);
}
.side-menu .color-list ul :nth-child(3) {
    background-color: rgb(187, 161, 14);
}
.side-menu .color-list ul :nth-child(4) {
    background-color: rgb(147, 62, 207);
}
.side-menu .color-list ul :nth-child(5) {
    background-color: rgb(207, 22, 99);
}
.side-menu .random-background span {
    display: inline-block;
    margin-right: 10px;
    color: #fff;
    background-color: var(--main-color);
    padding: 3px 0;
    width: 45px;
    border-radius: 4px;
    cursor: pointer;
    opacity: .5;
}
.side-menu .random-background span.active {
    opacity: 1;
}

.navbar {
    z-index: 1;
    display: flex;
    padding: 20px 0;
}
.navbar .logo {
    color: #fff;
    width: 400px;
    margin: 0;
    line-height: 30px;
    font-size: 28px;
    z-index: 1;
}
.navbar .links {
    color: #fff;
    width: 100%;
    text-align: right;
    line-height: 30px;
    font-size: 20px;
    z-index: 1;
}
.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.navbar ul li {
    display: inline-block;
    padding-right: 10px;
    transition: color .3s;
}
.navbar ul li.active,
.navbar ul li:hover {
    color: var(--main-color);
    cursor: pointer;
}

.background {
    z-index: 0;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}
.background .overlay {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.background .back-image {
    width: 100%;
    height: 100%;
    transition: all 3s linear;
    background-image: url('assets/images/background/1.jpg');
    background-size: cover;
}
.background .main-text {
    z-index: 1;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}
.background .main-text h1 span {
    color: var(--main-color);
}
.background .main-text p {
    color: #fff;
    line-height: 1.5;
}

.absolute-fix {
    margin-top: calc(100vh - 20px); /* this makes 50px margin before about us section */
}

.about-us {
    z-index: 10;
    margin: 50px 0;
    display: flex;
}
.about-us .about-us-text {
    flex: 1;
}
.about-us .about-us-text h2 {
    color: var(--main-color);
    margin: 0;
    margin-bottom: 10px;
}
.about-us .about-us-image {
    flex: 1;
    text-align: center;
}
.about-us .about-us-image img {
    width: 250px;
}

.skills {
    background-color: #ddd;
    text-align: center;
    margin: 50px 0;
    padding : 45px 0;
}
.skills h2 {
    margin-bottom: 45px;
}
.skills .skill-element {
    display: flex;
    margin-bottom: 35px;
}
.skills .skill-element .skill-name {
    width: 250px;
    text-align: center;
    padding: 5px 0;
    font-weight: bold;
    line-height: 25px;
}
.skills .skill-element .skill-progress {
    background-color: #bbb;
    width: 100%;
    border-radius: 4px;
    height: 25px;
    overflow: hidden;
}
.skills .skill-element .skill-progress .progress-done {
    width: 0%;
    height: 100%;
    background: var(--main-color);
    transition: all .5s;
    line-height: 25px;
    color: #fff;
    text-align: right;
}